.main{
    display:flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193b);
    height: 100vh;
    color: #ffffff;
}

.input{
    background-color: transparent;
    height: 30px;
    width: 300px;
    color: #fff;
}