.main{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193b);
    color: #fff;
}